
.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.docItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}
