.searchResultsOverlay {
    position: fixed; /* or absolute */
    top: 0;
    left: 0;
    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
    z-index: 1; /* Ensure it sits above other content */
}

.searchResultsContainer {
    background-color: #282828;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #4B4B4B;
    width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}

.searchInputContainer {
    border-bottom: 1px solid #4B4B4B;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBarInput {
    height: 55px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    margin-top: -2px;
}

.searchResult {
    padding: 8px 15px;
}

.searchResult:hover {
    cursor: pointer;
    background-color: #383737;
}

.searchIcon {
    color: #7F8497;
    max-width: 24px;
    font-size: 30px;
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
