.ClickHouseSupportedBadge {
    background-color: #faff69;
    border-radius: 16px;
    margin-top: 0px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    color: #161517;
    display: inline-flex;
    margin-right: 5px;
}

.ClickHouseSupportedIcon svg path {
    fill: #282828;
}

.ClickHouseSupportedBadge a {
    color: black;
}

[data-theme="dark"] .ClickHouseSupportedBadge {
    background-color: #faff69;
    color: #161517;
}

[data-theme="dark"] .ClickHouseSupportedBadge a {
    color: #161517;
}

[data-theme="dark"] .ClickHouseSupportedIcon svg path {
    fill: #161517;
}
