# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm"
    directory: "/docs/integrations"
    schedule:
      interval: "monthly"
    # Disable version updates for dependencies in the code snippets
    open-pull-requests-limit: 0
  - package-ecosystem: "pip"
    directory: "/docs/integrations"
    schedule:
      interval: "monthly"
    # Disable version updates for dependencies in the code snippets
    open-pull-requests-limit: 0
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
