node_modules
.docusaurus
.vercel
build
docs/en/development
docs/en/engines
docs/en/getting-started
docs/en/interfaces
docs/en/operations
docs/en/sql-reference
docs/ru
docs/zh
docs/_clients

**/.DS_Store
run.sh
cleanup.sh
update.sh

docs/en/whats-new/changelog/_2023.md

.ignore
.marksman.toml
yarnbuild.out
clickhouse-docs.code-workspace
.idea
**/tmp/
yarn.lock
yarn.error-log
.comments

# Output files used by scripts to verify links
sidebar_links.txt
orphaned_pages.txt
active_links.txt
active_links.json
