.scalePlanFeatureContainer {
    background-color: #F6F7FA;
    border-radius: 4px;
    border: 1px solid #E6E7E9;
    padding: 12px 16px;
    margin-bottom:8px;

    p {
        margin: 0;
        padding: 0;
    }
}

.scalePlanFeatureBadge {
    background-color: #1D64EC;
    border-radius: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    display: inline-flex;
    padding: 2px 12px;
    margin-bottom: 8px;
}

[data-theme='dark'] .scalePlanFeatureContainer {
    background-color: var(--click-color-note-background);
    border: 1px solid #414141;
}

[data-theme='dark'] .scalePlanFeatureBadge {
    background-color: #A1BEF7;
    color: #1F1F1C;
}
