aiohappyeyeballs
aiohttp
aiosignal
algoliasearch>=4.25.0
annotated-types
async-timeout
attrs
certifi
charset-normalizer
Deprecated
frozenlist
idna
jaconv
Markdown
multidict
networkx
numpy
propcache
pydantic
pydantic_core
pykakasi
python-dateutil
python-slugify
PyYAML
remember
requests
ruamel.yaml
ruamel.yaml.clib
scipy
six
slugger
text-unidecode
typing_extensions
Unihandecode
urllib3
wrapt
yarl
