aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
algoliasearch==4.12.0
annotated-types==0.7.0
async-timeout==5.0.1
attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
Deprecated==1.2.15
frozenlist==1.5.0
idna==3.10
jaconv==0.4.0
Markdown==3.7
multidict==6.1.0
networkx==3.4.2
numpy==2.2.2
propcache==0.2.1
pydantic==2.10.5
pydantic_core==2.27.2
pykakasi==2.3.0
python-dateutil==2.9.0.post0
python-slugify==8.0.4
PyYAML==6.0.2
remember==0.1
requests==2.32.4
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scipy==1.15.1
six==1.17.0
slugger==0.2.2
text-unidecode==1.3
typing_extensions==4.12.2
Unihandecode==0.81
urllib3==2.5.0
wrapt==1.17.2
yarl==1.18.3
