.KBArticleInput {
  width: 98%;
  border: none;
}

.KBArticleInputSearchArea {
  width: 100%;
  background-color: transparent;
  border: none !important;
  outline: none;
  padding-left: 5px;
}

.clearIcon {
  margin-right: 12px;
  color: #B3B6BD
}

.clearIcon:hover{
  color:white;
}
