@use '../../../../css/breakpoints.scss' as breakpoints;

.docsNavBurger {
    display: flex;
}

.docsMobileMenu {
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.docsMobileMenuActive {
    position:fixed;
    z-index: 15;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    padding: 1em;
    transform: translate3d(0, 0, 0);
    margin: 0;
    padding: 0 1rem;
    overflow-x:hidden;
    opacity: 1;
}

.docsMobileMenuHidden {
    position:absolute;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

[data-theme="dark"] .docsMobileMenuBackdropActive{
    background-color: #282828;
    display: flex;
    position:fixed;
    width:100%;
    height: 100vh;
    left:0;
    top:0;
    z-index:14;
    transform: translate3d(0, 0, 0);
}

[data-theme="light"] .docsMobileMenuBackdropActive {
    background-color: white;
    display: flex;
    position:fixed;
    width:100%;
    height: 100vh;
    left:0;
    top:0;
    z-index:14;
    transform: translate3d(0, 0, 0);
}

[data-theme="dark"] .searchBar {
    button{
        background: #303030;
    }
}

.docsMobileMenuItems{
    margin-top: 1em;
    margin-bottom: 2em;
}
.docsMobileMenu_header{
    margin-top: 4rem;
    margin-bottom: 1rem;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: breakpoints.$laptop-breakpoint) {
    .docsNavBurger {
        display: flex;
    }
}
