.navbarHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.secondaryMenu {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 1rem 2rem;
  gap: 1rem;
  border-bottom: 1px solid var(--click-color-stroke);
  border-top: 1px solid var(--click-color-stroke);
  --ifm-navbar-link-color: var(--click-color-text-muted);
  --ifm-navbar-link-hover-color: var(--click-color-text);
  height: 3.5rem;
}

.secondaryMenu > * {
  display: inline-block !important;
  white-space: nowrap;
  padding: 0;
  --ifm-navbar-link-color: var(--click-color-button-text-disabled);
  scrollbar-width: none;
}

.secondaryMenu::-webkit-scrollbar {
  display: none;
}

.navbarInner {
  padding: 1rem 2rem;
  height: 4rem;
}

.navbarItemsList {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 996px) {
  .navbarItemsList {
    display: none !important;
  }
  .navbarInner {
    padding: 1rem 1.5rem;
  }
}