@import '../../../css/breakpoints.scss';

.footer {
  display: none;
  border: 1px solid var(--click-color-stroke);
  flex-direction: column-reverse;
  align-items: center;
  gap: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  height: 3.5rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
}

.footer img {
  filter: none;
  background-color: transparent;
  height: 2.5rem;
  width: 2.5rem;
}

@media (min-width: $tablet-breakpoint) {
  .footer {
    display: flex;
    /* padding: 32px 40px; */
    padding: 0;
    flex-direction: row;
    color: var(--docsearch-muted-color);
  }

  .container {
    max-width: initial;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
  }


}
