$mobile-breakpoint: 996px;
$tablet-breakpoint: 1024px;
$laptop-breakpoint: 1330px;
$large-desktop-breakpoint: 1440px;

// If you change these breakpoints, make sure to update
// MobileSideBarMenu/index.js accordingly