$mobile-breakpoint: 768px;
$tablet-breakpoint: 900px;
$laptop-breakpoint: 1100px;
$large-desktop-breakpoint: 1440px;

// If you change these breakpoints, make sure to update
// MobileSideBarMenu/index.js accordingly