/* Hide breadcrumbs for home page */
.docs-doc-id-home-page .breadcrumbs {
  display: none;
}

.docs-doc-id-home-page .docItemCol_src-theme-DocItem-Layout-styles-module {
  max-width: 100vw;
  overflow-x: hidden;

  @media (min-width: var(--mobile-breakpoint)) {
    max-width: 100% !important;
  }
}

.docs-doc-id-home-page .container {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding-bottom: 0;

  @media (min-width: var(--mobile-breakpoint)) {
    overflow-x: auto;
  }
}

.docs-doc-id-home-page .main-content-wrapper {
  margin-top: 0;
}

.docs-doc-id-home-page .docItemCol_src-theme-DocItem-Layout-styles-module {
  padding-bottom: 0;

  @media (min-width: var(--mobile-breakpoint)) {
    padding-left: 4rem;
    padding-right: 4rem;
    overflow-x: auto;
  }
}

.docs-doc-id-home-page footer {
  padding-left: 1rem;
  padding-right: 1rem;
}

.home-page-hero {
  border-bottom: 1px solid var(--click-color-stroke);
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  @media (min-width: var(--mobile-breakpoint)) {
    flex-direction: row;
    padding-right: 2rem;
  }
}

.home-page-hero-left {
  align-self: center;
  padding: 2rem 0rem;
  flex: 1;

  @media (min-width: var(--mobile-breakpoint)) {
    padding-right: 2rem;
  }
}

.home-page-hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 20px;

  @media (min-width: var(--mobile-breakpoint)) {
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
  }
}

.home-page-hero-button {
  display: flex;
  color: inherit;
  text-decoration: none;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(220, 220, 220);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 100%;

  @media (min-width: var(--mobile-breakpoint)) {
    margin-bottom: 0;
    width: 200px;
  }
}

.home-page-hero-button:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  color: inherit;
  text-decoration: none;
}

[data-theme='dark'] .home-page-hero-button {
  background-color: var(--palette_neutral_700);
  border: none;
}

[data-theme='dark'] .home-page-hero-button:hover {
  background-color: var(--palette_neutral_700);
  border: none;
  opacity: 0.8;
}

.home-page-hero-button:last-of-type {
  margin-right: 0;
}

.home-page-option-button {
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  @media (min-width: var(--mobile-breakpoint)) {
    marginBottom: 4rem;
    width: 210px;
  }
}

.home-page-option-button:hover {
  color: inherit;
  background-color: rgb(245, 245, 245);
  text-decoration: none;
}

[data-theme='dark'] .home-page-option-button:hover {
  background-color: transparent;
  opacity: 0.6;
}

.home-page-option-icon {
  width: 48px;
  height: 48px;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgb(250, 250, 250);
  border-radius: 4px;
  margin-right: 16px;
}

[data-theme='dark'] .home-page-option-icon {
  background-color: var(--palette_neutral_700);
  border: none;
}

[data-theme='dark'] .home-page-option-icon img {
  background-color: transparent;
}

.home-page-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: var(--mobile-breakpoint)) {
    flex-direction: row;
  }
}

.home-page-button-container:first-child {
  @media (min-width: var(--mobile-breakpoint)) {
    margin-bottom: 24px;
  }
}

.home-page-section {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--click-color-stroke);

  @media (min-width: var(--mobile-breakpoint)) {
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.home-page-section-search {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--click-color-stroke);

  @media (min-width: var(--mobile-breakpoint)) {
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
  }
}

.home-page-hero-right-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  flex: 1;
  max-width: 465px;

  @media (min-width: var(--mobile-breakpoint)) {
    flex-direction: row;
    flex: 1;
    justify-content: right;
  }
}

.home-page-section:last-of-type {
  border-bottom: none;
}

.home-page-section-left {
  margin-bottom: 1rem;

  @media (min-width: var(--mobile-breakpoint)) {
    margin-right: 2rem;
    margin-bottom: 0;
    min-width: 200px;
    max-width: 350px;
  }
}

img.home-svg svg path {
  fill: red;
}

.icon-svg {
  fill: black;
}

[data-theme='dark'] .icon-svg {
  fill: rgb(200, 200, 200);
}

.logo-svg {
  fill: black;
}

[data-theme='dark'] .logo-svg {
  fill: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  justify-self: center;
}

