.colorModeButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px;
  gap: 8px;
  color: var(--click-color-secondary-button-text);
  border: 0;
  border-radius: 4px;
  background: transparent;
}
.colorModeButton:hover {
  background: var(--ifm-menu-color-background-active);
}

.colorModeButton span {
  text-transform: capitalize;
  white-space: nowrap;
}

@media (max-width: 1100px) {
  .themeModeText {
    display: none;
  }
}

@media (max-width: 997px) {
  .themeModeText {
    display: block;
  }

  .colorModeWrapper {
    display: flex;
    gap: 0.3rem;
  }
}

