.linkStyle {
  display: block;
  color: var(--ifm-navbar-link-color);
  width: 100%;
  padding: 0.75rem 0.5rem;
  font-size: 14px;
  line-height: 1;
  text-decoration-line: none !important;
  border-radius: 6px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  user-select: none;
}

.linkStyle:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px #1F1F1C;
  color: var(--ifm-navbar-link-active-color);
  border-radius: 6px;
}

.linkStyle:hover {
  background: var(--ifm-menu-color-background-active);
  border-radius: 4px;
  color: var(--ifm-navbar-link-active-color);
}

.menuItemContainer {
  margin: 0;
  display: flex;
  list-style: none;
  background: var(--click-color-background);
}

.menuItem {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

.menuItemHeader {
  border-bottom: 1px solid #F6F7FA;
  margin-bottom: 1rem;
  background: var(--click-color-nav-header-background);
  border-bottom: 1px solid var(--click-color-nav-border);
}

.subMenuItem {
  border-radius: 0;
  padding-left: 1rem;
  color: var(--click-color-text-muted);
}

.subMenuItem[data-header="true"] {
  color: var(--click-color-text);
}

.deepMenu {
  margin-left: auto;
  border-radius: 0;
}

.deepMenuContent {
  display: flex;
  gap: 1rem;
}

.icon {
  height: 2rem;
  width: 2rem;
  background: var(--click-color-text);
  mask-image: var(--icon);
  mask-size: contain;
}

.deepMenuText {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.deepMenuListItem {
  white-space: nowrap;
}

.deepMenuDesc {
  color: var(--click-color-text-muted);
  font-weight: 400;
  white-space: initial;
}

.linkStyle:hover .deepMenuListItem, .linkStyle:hover .deepMenuDesc {
  color: inherit;
}

.fontMedium {
  font-weight: 500;
}

@media screen and (min-width: 640px) {
  .menuItemContainer {
    min-width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .subMenuItem {
    min-width: 9.5rem;
  }
}





.navigationMenuRoot {
  position: relative;
  display: none;
  justify-content: center;
  width: 100vw;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.navigationMenuList {
  display: flex;
  justify-content: center;
  padding: 0 4px;
  border-radius: 6px;
  list-style: none;
  margin: 0;
}

.navigationMenuTrigger {
  padding: 0.75rem 0.5rem;
  text-decoration-line: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 6px;
  font-size: 14px;
  font-family: var(--default-font);
  color: var(--ifm-navbar-link-color);
  background: transparent;

  display: block;
  pointer-events: auto;
  text-decoration-line: none;
  border: none;
}

.navigationMenuTrigger button {
  /*background: transparent;*/
}

.navigationMenuTrigger:hover {
  color: var(--ifm-navbar-link-active-color);
  text-decoration-line: none;
}

.navigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.navigationMenuContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 500;
  padding-bottom: 1rem;
  border-radius: 6px;
  background: var(--click-color-background);
}

.navigationMenuContent[data-motion='from-start'] {
  animation-name: enterFromLeft;
}
.navigationMenuContent[data-motion='from-end'] {
  animation-name: enterFromRight;
}
.navigationMenuContent[data-motion='to-start'] {
  animation-name: exitToLeft;
}
.navigationMenuContent[data-motion='to-end'] {
  animation-name: exitToRight;
}
@media only screen and (min-width: 600px) {
  .navigationMenuContent {
    width: auto;
  }
}

.navigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}
.navigationMenuIndicator[data-state='visible'] {
  animation: fadeIn 200ms ease;
}
.navigationMenuIndicator[data-state='hidden'] {
  animation: fadeOut 200ms ease;
}

.navigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
  border: 1px solid var(--click-color-nav-border);
  border-radius: 6px;
  background: var(--palette_neutral_725);
}

.navigationMenuViewport[data-state='open'] {
  animation: scaleIn 200ms ease;
}
.navigationMenuViewport[data-state='closed'] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 600px) {
  .navigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.viewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

.arrow {
  position: relative;
  top: 70%;
  background: var(--click-color-nav-header-background);
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 997px) {
 .navigationMenuRoot {
   display: flex;
 }
}
