// CUICard styles - to be added

.cuiCard {
  border-radius: .5rem;
  background: #323230;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-width: 1px;
  border-color: rgba(65, 65, 65, .8);
}