.primaryMenuMobile {
  padding: 0; /* Remove unwanted padding */
  margin: 0; /* Remove unwanted margin */

}

.primaryMenuMobile div a {
  background: none !important;
  background-color: transparent !important;
}

.primaryMenuMobile li {
  padding-top: 6px;
}

.primaryMenuMobile > div > ul > li {
  padding: 8px;
  padding-bottom: 12px;
  margin: 0; /* Ensure no extra margins */
  display: block; /* Ensure full-width clickable area */
}
