---
name: Style check

env:
  # Force the stdout and stderr streams to be unbuffered
  PYTHONUNBUFFERED: 1

on:
  pull_request:
    types:
      - synchronize
      - reopened
      - opened
jobs:
  stylecheck:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        check_type: [spellcheck, kbcheck]
    steps:
      - uses: actions/checkout@v4
      - name: Install Aspell
        if: matrix.check_type == 'spellcheck'
        run: sudo apt-get update && sudo apt-get install -y aspell aspell-en
      - name: Set up Python
        if: matrix.check_type == 'kbcheck'
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        if: matrix.check_type == 'kbcheck'
        run: |
          python -m pip install --upgrade pip
          pip install -r 'scripts/knowledgebase-checker/requirements.txt'

      - name: Run checks
        id: check_step
        run: |
          if [[ "${{ matrix.check_type }}" == "spellcheck" ]]; then
            ./scripts/check-doc-aspell
          exit_code=$?
          elif [[ "${{ matrix.check_type }}" == "kbcheck" ]]; then
            ./scripts/knowledgebase-checker/knowledgebase_article_checker.py --kb-dir="knowledgebase"
          exit_code=$?
          fi
          
          if [[ $exit_code -ne 0 ]]; then
            echo "::error::${{ matrix.check_type }}" check failed. See logs for details."
            exit 1
          fi