# No longer used

name: Trigger docs website build
on: 
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    name: Dispatch to clickhouse-docs-content
    runs-on: ubuntu-latest
    steps:
      - name: Trigger build of docs website
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.DEPLOY_DOCS_TOKEN }}
          repository: clickhouse/clickhouse-docs-content
          event-type: build_docs
